/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #0e0e0e;
}

.p {
    font-family: 'Michroma', sans-serif;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: relative;
    background-color: rgb(27, 27, 27);
    color:white;
    padding: 15px;
  }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

#orion_map {
    padding-bottom: 20px;
}

#sliding_puzzle {
	width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

#asterismos_title {
    padding-top: 20px;
    width: auto;
    max-width: 80%;
    height: auto;
}

area {
    display: none;
}

#puzzle {
    position: relative;
    visibility: hidden;
    margin-bottom: 30px;
}

video {
    display: none;
    position: relative;
    z-index: 100;
}

#body {
    width: auto;
    max-width: 100%;
}

form {
    margin-bottom: 30px;
}